:root {
  --primary-color: #c0b283;
  --secondary-color: #a09388;
  --background-color: #f4f4f4;
  --footer-color: #373737;
  --heading-font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 90px;
  line-height: 1.5;
}

p {
  font-size: 14px;
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--footer-color);
}
nav img {
  width: 40px;
  height: 100;
}
i {
  color: var(--secondary-color);
}
.footer-tools ul {
  padding: 0;
  margin: 0;
}

.footer-tools li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 150px;
}
.main_h1 {
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.best_food {
  margin-top: 60px;
}

.best_item {
  width: 30%;
  padding-bottom: 20%;
}

.best_content {
  position: absolute;
  width: 20%;
  height: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.best_icon {
  margin-top: 8px;
}

.content-container {
  padding: 60px 20px;
}
.footer-logo {
  display: block;
  margin-left: 9px;
}
.carousel-item {
  height: 70vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer-tools {
  position: relative;
}
footer p {
  color: var(--primary-color);
}
footer a {
  text-decoration: none;
  transition: all 120ms ease-in-out;
  color: var(--footer-color);
}
footer a:hover {
  color: var(--secondary-color);
}
.copyright {
  color: var(--secondary-color);
}
.copyright a:hover {
  color: var(--secondary-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    padding: 0;
  }
  .home__text {
    padding: 30px 15px;
  }
  .home__text a {
    font-size: 1.75rem;
  }
}
